<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>VOTP verification</title>
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel='stylesheet' />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body style='margin:0;background: #1B1D20;'>
  <div marginheight='0' marginwidth='0' style='margin: 0px; background-color: #f2f3f8'>
    <table cellspacing='0' border='0' cellpadding='0' width='100%' bgcolor='#f2f3f8'
      style="font-family: 'Inter', sans-serif">
      <tbody>
        <tr>
          <td>
            <table style='max-width: 670px; margin: 20px auto' width='100%' border='0' align='center' cellpadding='0'
              cellspacing='0'>
              <tbody>
                <tr>
                  <td style='height: 20px'>&nbsp;</td>
                </tr>
                <tr>
                  <td>
                    <table width='95%' border='0' align='center' cellpadding='0' cellspacing='0' style='
                      max-width: 670px;
                      background: #fff;
                      border-radius: 3px;
                      text-align: center;
                    '>
                      <tbody>
                        <tr>
                          <td style='text-align: center; background: #fff'>
                            <br />
                            <a href='javascript:void(0);' title='World Bowling League'>
                              <img src='https://d2f7au5filvklu.cloudfront.net/static-images/wblLogo.png'
                                alt='wblLogo' />
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td style='text-align: center; background: #fff'>
                            <br />
                            <img src='https://d2f7au5filvklu.cloudfront.net/static-images/wblCover.png'
                              alt='wblCover' />
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h4 style='
                              font-size: 24px;
                              text-align: left;
                              color: #000000;
                              margin-left:28px;
                              margin-top:25px;
                            '>VOTP Verification</h4>
                          </td>
                        </tr>
                        <tr>
                          <td style='height: 40px;text-align: left;padding:0px 28px;color:#333;'>
                            <span style='font-size: 14px;'>Here is your One Time Password (OTP). <br />Please enter this
                              code to verify your email address for WBL TMS
                            </span>
                          </td>
                        </tr>

                        <tr>
                          <td style='height: 40px; text-align: left; padding:25px 18px;'>
                            <table role="presentation" cellspacing="10" cellpadding="0" border="0"
                              style="table-layout: fixed;">
                              <tr>
                                <td
                                  style='border-radius: 5px; background: #FFF6EE; height: 55px; width:55px; text-align: center; vertical-align: middle; color: #10241B; font-size: 24px; font-weight:600;'>
                                  {{otpArr.[0]}}
                                </td>
                                <td
                                  style='border-radius: 5px; background: #FFF6EE; height: 55px; width:55px; text-align: center; vertical-align: middle; color: #10241B; font-size: 24px; font-weight:600;'>
                                  {{otpArr.[1]}}
                                </td>
                                <td
                                  style='border-radius: 5px; background: #FFF6EE; height: 55px; width:55px; text-align: center; vertical-align: middle; color: #10241B; font-size: 24px; font-weight:600;'>
                                  {{otpArr.[2]}}
                                </td>
                                <td
                                  style='border-radius: 5px; background: #FFF6EE; height: 55px; width:55px; text-align: center; vertical-align: middle; color: #10241B; font-size: 24px; font-weight:600;'>
                                  {{otpArr.[3]}}
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td style='height: 40px;text-align: left;padding:0px 28px;color:#333'>
                            <span style='font-size: 14px;'>OTP will expire in <span
                                style='font-weight:600;font-size: 14px;'>{{validity}} minutes.</span>
                            </span>
                          </td>
                        </tr>

                        <tr>
                          <td style='text-align: left;padding:20px 28px 0px 28px;color:#333;'>
                            <span style='font-size: 14px;'>Best Regards,
                            </span>
                          </td>
                        </tr>

                        <tr>
                          <td style='text-align: left;padding:5px 28px 20px 28px;color:#333;'>
                            <span style='color:#FF8D2A;font-size: 14px;font-weight:600'>WBL team.</span>
                          </td>
                        </tr>

                        <tr>
                          <td style='height: 40px;text-align: left;padding:0px 28px;color:#333;'>
                            <hr style='background-color: #D9D9D9;opacity:0.3;' />
                          </td>
                        </tr>

                        <tr>
                          <td style='text-align: center; background: #fff'>
                            <a href='javascript:void(0);'>
                              <img src='https://d2f7au5filvklu.cloudfront.net/static-images/insta.png' alt='insta' />
                            </a>
                            <a href='javascript:void(0);'>
                              <img src='https://d2f7au5filvklu.cloudfront.net/static-images/fb.png' alt='fb'
                                style='margin-left:5px;' />
                            </a>
                          </td>
                        </tr>

                        <tr>
                          <td style='height: 40px;text-align: left;padding:0px 28px;color:#333;'>
                            <hr style='background-color: #D9D9D9;opacity:0.3;' />
                          </td>
                        </tr>

                        <tr>
                          <td
                            style='color: #000; text-align: center; font-size: 10px; font-style: normal; font-weight: 400; line-height: normal;'>
                            <span>© 2023 World Bowling League. All rights reserved.</span>
                          </td>
                        </tr>

                        <tr>
                          <td
                            style='color: #000; text-align: center; padding:30px 28px 0px 28px; font-size: 10px; font-style: normal; font-weight: 400; line-height: normal;'>
                            <span>You are receiving this mail because you registered to join the WBL TMS platform as a
                              user or a creator. This also shows that you agree to our Terms of use and Privacy
                              Policies. If you no longer want to receive mails from use, click the unsubscribe link
                              below to unsubscribe.</span>
                          </td>
                        </tr>

                        <tr>
                          <td style='text-align:center; background:#fff; padding-top:10px;'>
                            <a href='javascript:void(0);'
                              style='color: #333; text-align: center; font-size: 10px; font-style: normal; font-weight: 400; line-height: normal; text-decoration-line: underline; display:inline-block; margin-right: 1px;'>
                              Privacy Policy
                            </a>
                            <span
                              style='background-color:#D9D9D9; height:5px; width:5px; border-radius:50%; display:inline-block; vertical-align:middle; margin-right: 1px;'></span>
                            <a href='javascript:void(0);'
                              style='color: #333; text-align: center; font-size: 10px; font-style: normal; font-weight: 400; line-height: normal; text-decoration-line: underline; display:inline-block; margin-right: 1px;'>
                              Terms of service
                            </a>
                            <span
                              style='background-color:#D9D9D9; height:5px; width:5px; border-radius:50%; display:inline-block; vertical-align:middle; margin-right: 1px;'></span>
                            <a href='javascript:void(0);'
                              style='color: #333; text-align: center; font-size: 10px; font-style: normal; font-weight: 400; line-height: normal; text-decoration-line: underline; display:inline-block; margin-right: 1px;'>
                              Help center
                            </a>
                            <span
                              style='background-color:#D9D9D9; height:5px; width:5px; border-radius:50%; display:inline-block; vertical-align:middle; margin-right: 1px;'></span>
                            <a href='javascript:void(0);'
                              style='color: #333; text-align: center; font-size: 10px; font-style: normal; font-weight: 400; line-height: normal; text-decoration-line: underline; display:inline-block;'>
                              Unsubscribe
                            </a>
                          </td>
                        </tr>

                        <tr>
                          <td style='height: 20px'>&nbsp;</td>
                        </tr>

                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
  </div>
</body>

</html>